CookieGamblingClicker_brackeys082025/Library
CookieGamblingClicker_brackeys082025/ProjectSettings
CookieGamblingClicker_brackeys082025/Logs
CookieGamblingClicker_brackeys082025/Temp
CookieGamblingClicker_brackeys082025/UserSettings

.vsconfig
